body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: #F6F6F6;
    font-size: 14px;
}

.text-align-center {
    text-align: center;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    color: #1620A5;
}

#rasp {
    background: #FFFFFF;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    max-width: 850px;
    min-height: 20px;
    padding: 20px
}

.container-rasp {
    min-height: 80vh;
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
}

.info-section {
    margin: 0 auto;
    width: 100%;
    opacity: .5;
}

.tabs {
    display: flex;
    align-items: center;
}

.tabs .tab {
    border: 1px solid #1620A5;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;

    line-height: 19px;
    text-align: center;

    color: #1620A5;
    text-decoration: none;
    display: inline-flex;
    padding: 13px 16px;
    margin-right: 10px;
    width: calc(100% / 3);
}

.tabs .tab:last-child {
    margin-right: 0px;

}

.tabs .tab.active {
    border: 1px solid #1620A5;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;

    line-height: 19px;
    text-align: center;

    color: #ffffff;
    text-decoration: none;
    background: #1620A5;
}

.tabs .tab:not(.active):hover {
    background-color: #F5F9FF;
    cursor: pointer;
}
.row-select form {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    width: 100%;
}
select {
    border: none;
    background-color: #F5F9FF;
    padding: 13px 16px;
    font-size: 14px;
    font-family: inherit;
    border-radius: 3px;
    outline: none;
    width: calc(100% / 3);
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

input[type="date"] {
    border: none;
    background-color: #F5F9FF;
    padding: 13px 16px;
    font-size: 14px;
    font-family: inherit;
    border-radius: 3px;
    outline: none;
    width: calc(100% / 3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

button {
    border: 1px solid #1620A5;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;

    line-height: 19px;
    text-align: center;

    color: #ffffff;
    text-decoration: none;
    background: #1620A5;
    display: inline-flex;
    padding: 13px 16px;
    width: calc(100%/3);
    justify-content: center;
    align-items: center;
}

.line-groups {
    margin-top: 10px;
}
.line-group {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}


.line-group .group-item {
    background: #F5F9FF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 15px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

.line-group .group-item.activity {
    justify-content: flex-start;
}

.group-item.number {
    flex-basis: 10%;
}

.group-item.time {
    flex-basis: 10%;
}

.group-item.activity {
    flex-basis: 60%;

}

.group-item.group-name {
    flex-basis: 100%;
    background: #1620A5;
    color: white;
    font-size: 1em;
}

.group-item.type-of-activity {
    flex-basis: 20%;
}
.line-group .group-item:last-child {
    margin-right: 0;
}

.result {
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 580px) {
    .tabs {
        flex-wrap: wrap;
    }    

    .tabs .tab {
        margin-bottom: 5px;
        width: 100%;
        margin-right: 0;
    }

    .row-select form {
        flex-wrap: wrap;
    }

    .row-select form>select, .row-select form>input, .row-select form> button {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
}