<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СГК Расписание</title>
    <link rel="icon" href="https://samgk.ru/favicon.ico">
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.24/vue.global.min.js" 
        integrity="sha512-9jzR+CDYy4G7ItNUoOCTinMd8prDY+SXLRgg4+JB8AdYKEtLrIWVwLjPYHHLt3MNnYXMkA2spt4VaUE55O9Qnw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.24/vue.global.prod.min.js" 
        integrity="sha512-KX1eBv1gnv7xoRgc8b2TQRn9sNyelFFInbx/ZuXnuZd53YoUcGLsavkKcEAeeJSSocwMFUpi7A+l2nhKRslt6w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/alerts.css">
</head>
<body>
    <h3 class="text-align-center title">
        Расписание занятий
    </h3>
    <div class="container-rasp" id="raspapp" data-v-app="">
        <section id="rasp">
            <div class="tabs">
                <a href="#" class="tab tab-group" v-bind:class="{active: isTab('group')}" @click="setTab('group')">По учебной группе</a>
                <a href="#" class="tab tab-user" v-bind:class="{active: isTab('user')}" @click="setTab('user')" >По преподавателю</a>
                <a href="#" class="tab tab-building" v-bind:class="{active: isTab('building')}" @click="setTab('building')">По корпусу</a>
                <!-- <a href="#" class="tab tab-cabinet" v-bind:class="{active: isTab('cabinet')}" @click="setTab('cabinet')">По кабинету</a> -->
                <a href="#" class="tab tab-cabinet">По кабинету (WIP)</a>
            </div> 
 
            <div class="tap-group-wrap" v-if="isTab('group')">
                <div class="row-select">
                    <form action="#">
                        <select name="test" v-model="selected.group">
                                 <option value="">Не выбрано</option>
                                 <option v-for="(index, type) in this.data.groups" :value="index.id">{{index.name}}</option>
                             </select>
                        <input type="date" name="date" v-model="selected.date" id="date">
                        <button type="button" @click="load()">Показать</button>
                    </form>
                </div>
            </div>

            <div class="tap-user-wrap" v-if="isTab('user')">
                <div class="row-select">
                    <form action="#">
                        <select name="user" id="user" v-model="selected.teacher">
                            <option value="">Не выбрано</option>
                            <option v-for="(index, type) in this.data.teachers" :value="index.id">{{index.name}}</option>
                        </select>
                        <input type="date" name="date" v-model="selected.date" id="date">
                        <button type="button" @click="load()">Показать</button>
                    </form>
                </div>
            </div>

            <div class="tap-user-wrap" v-if="isTab('building')">
                <div class="row-select">
                    <form action="#">
                        <select name="user" id="user" v-model="selected.building">
                            <option value="">Не выбрано</option>
                            <option v-for="(index, type) in this.data.buildings" :value="index.id">{{index.name}}</option>
                        </select>
                        <input type="date" name="date" v-model="selected.date" id="date">
                        <button type="button" @click="load()">Показать</button>
                    </form>
                </div>
            </div>

            <div class="tap-user-wrap" v-if="isTab('cabinet')">
                <div class="row-select">
                    <form action="#">
                        <select name="user" id="user" v-model="selected.cabinet">
                            <option value="">Не выбрано</option>
                            <option v-for="(index, type) in this.data.cabinets" :value="index.id">{{index.name}}</option>
                        </select>
                        <input type="date" name="date" v-model="selected.date" id="date">
                        <button type="button" @click="load()">Показать</button>
                    </form>
                </div>
            </div>
 
            <div class="result">
                <div v-if="rasp.length > 0 " class="line-groups">
                    <div v-for="(index, type) in this.rasp" class="line-group">
                        <div class="group-item number" v-if="index.isHeader == undefined">
                            <span class="number-rasp">
                                {{index.num}}
                            </span>
                        </div>
                        <div class="group-item time" v-if="index.isHeader == undefined">
                            <span class="time-rasp" v-html="callings[index.num]">
 
                            </span>
                        </div>
                        <div v-if="index.nameGroup != '' && index.nameGroup != undefined && index.nameGroup != null 
                            && activeTab != 'building' && index.isHeader == undefined" class="group-item time">
                                 <span class="time-rasp" v-html="index.nameGroup">
 
                                 </span>
                             </div>
                        <div class="group-item activity" v-if="index.isHeader == undefined">
                            <div class="activity-rasp">
                                <b>
                                    {{index.title}} 
                                </b>
                                <br>
                                <div>
                                    {{index.teachername}} 
                                </div>
                                 <div v-if="index.resource != ''">
                                     <hr>
                                     <div v-html="index.resource"></div>
                                 </div>
                            </div>
                        </div>
                        <div class="group-item type-of-activity" v-if="index.isHeader == undefined">
                            <div class="type-of-activity-rasp">
                                <div>
                                    {{index.cab}} 
                                </div>
                            </div>
                        </div>
                        <div class="group-item group-name" v-if="index.isHeader != undefined">
                            <h1>{{index.name}}</h1>
                        </div>
                    </div>
                </div>
                 <div v-if="this.rasp.length == 0" class="alert__container">
                     <div v-if="submite">
                         
                         <div class="alert alert__success spacer" role="alert">
                             <p class="alert__text">Пар нет</p>
                         </div>
                     </div>
                     <div v-if="!submite">
                         <div class="alert alert__primary spacer" role="alert">
                             <p class="alert__text">Вы ещё ничего не выбрали</p>
                         </div>
                     </div>
                 </div>
            </div>
        </section>
        <section class="info-section">
            <h5 style="text-align: center;">
                Разработано ГАПОУ "СГК"<br>
                <br>
                Доработано maksim789456
                <br>
                <a href="https://github.com/maksim789456/SgkSchedule">
                    <i class="fa fa-github" style="font-size:48px;color:black;"></i>
                </a>
            </h5>
        </section>
    </div>
    <script src="js/main.js"></script>
</body>
</html>